.content {
    position: relative;
    top: -50px;
    padding-top: 50px;
}

.dashboard {
    margin-top: 1%;
}

.dashboard #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

#addOverlay {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.42);
    width: 100%;
    height: 105vh;

}

.addPanel {
    width: 60%;
    min-height: 25%;
    margin: auto;
    position: relative;
    top: 25%;
    padding: 2% 3% 3% 3%;
    /* left: 25%; */
}

.addPanel header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addPanel h2 {
    padding: 0;
    margin: 0;
}

.addPanel form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 16vh;
}

#url {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.addPanel #urlsubmit {
    align-self: flex-end;
}

#colorOptionsGroup h4 {
    margin-bottom: 0;
}

#colorOptions {
    display: grid;
    /* width: 85%; */
    /* margin: auto; */
    /* grid-gap: 5% 2%; */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    /* padding-bottom: 5%; */
}

#navButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

#nextButton {
    align-self: flex-end;
}

#panels {
    display: grid;
    width: 85%;
    margin: auto;
    grid-gap: 5% 2%;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    padding-bottom: 5%;
}

.panel {
    display: flex;
    flex-direction: column;
    padding: 2%;
    z-index: -1;
}

.panel .icons {
    display: flex;
    justify-content: space-between;
}

.panel .icons>svg {
    width: 17%;
    height: 11.5%;
    fill: rgba(0, 0, 0, 0.54);
}

.panel h2 {
    margin: 1vh 0 0 0;
}

#uniqloLogo {
    margin: 5px 0 0 0;
    padding: 3px;
    width: 11.5%;
    height: 11.5%;
    background-color: #ed1d24;
}

#uniqloLogo path {
    fill: white;
}
